/*body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    margin: 0;
    background-color: #f0f0f0;
    flex-flow: column nowrap;
}*/

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.swiper {
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/*
.num-slide {
    background-color: #f0f0f0;
}

.schedule-slide {
    background-color: #e0e0e0;
}

*/

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container.fullscreen {
	margin: 20px;
	height: calc(100% - 140px);
}

.container-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.container-flex .cell {
    flex: 0 0 50%;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 40px;
}

#evac {
        margin-bottom: 0.5rem;
}

#number-display {
    font-size: 5em;
    color: #333;
}

#number-description {
    font-size: 1.5em;
    color: #333;
}


ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

li {
    padding: 10px;
    font-size: 1.2em;
    border-bottom: 1px solid #ddd;
}

li.done {
    color: #999;
    text-decoration: line-through;
}

li.active {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

#countdown {
    margin-top: 20px;
    font-size: 1.5em;
}
